.contPrincipal {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.infoForm {
  margin: 10px 0 0 1rem;
}

.formContainer {
  border: 2px solid var(--difuminado);
  max-width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.selectOp {
  margin: 0rem 0rem 2px 1rem;
}

.inputField {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid var(--difuminado);
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: field;
}
